.container {
  display: flex;
  position: relative;
  overflow: hidden;
  min-width: var(--avatar-form);
  height: var(--avatar-form);
  border-radius: var(--radius-key);
  align-items: center;
  cursor: pointer;
  background-color: var(--key-well);
  box-shadow: var(--well);

  svg {
    margin: 0 auto;
    color: var(--ink-5);
  }

  &:has(:focus-visible) {
    outline: var(--focus-outline);
    outline-offset: 2px;
  }
}

.fileInput {
  cursor: inherit;
  display: block;
  font-size: 999px;
  min-height: 100%;
  min-width: 100%;
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
}

.btnClear {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  min-width: var(--target);
  min-height: var(--target);

  svg {
    color: var(--alert);
  }
}

.placeholder {
  color: var(--ink-5);
}
