.itemEnter {
  animation: enter var(--dur-ui);
}

.itemExit {
  animation: exit var(--dur-ui);
}

@keyframes enter {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes exit {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
