.heading  {
  button {
    display: flex;
    align-items: center;
    gap: var(--gap-2);
    padding: var(--gap-2);
    font-size: var(--text-m);  
  }

  svg {
    height: var(--icon-m);
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--gap-3);
  padding: var(--gap-3) var(--gap-4);
}
