.container {
  background: var(--faceplate);
  border-radius: var(--border-radius);
  
  &[data-expanded] {
    .icon { 
      transform: rotate(90deg);
    }

    .headingContainer {
      border-radius: var(--border-radius) var(--border-radius) 0 0;
    }
  }
}

.icon {
  flex-shrink: 0;
}

.headingContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--key);
  background-image: linear-gradient(135deg, var(--key) 0%, var(--faceplate) 100%);
  border-radius: var(--border-radius);
  cursor: pointer;

  button {
    color: inherit;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    
    &:focus-visible {
      outline: var(--focus-outline);
    }
  }

  svg {
    display: block;
    height: var(--icon-size-l);
  }
}
